{{ header }}

{{ column_left }}

{{ column_right }}

{{ content_top }}

<!-- pic panel -->
<div id="pic-block" class="cube-wrap col site-pane">
    <div class="cube">
        <div class="front-pane hiddenBackface">
            <div class="pic-block__inside">
                <div class="category-info" style="background-image: url(/assets/images/slide2.jpg);">
                    <div class="category-info__desc b-bottom">

                    </div>
                </div>

            </div>
        </div>
        <div class="right-pane hiddenBackface"></div>
        <div class="left-pane hiddenBackface"></div>
    </div>
</div><!-- pic panel END -->



<div id="page-block" class="cube-wrap-с site-pane" style="opacity: 0;">
    <div class="cube-с">
        <div class="right-pane hiddenBackface"></div>
        <div class="left-pane hiddenBackface"></div>
        <div class="front-pane hiddenBackface">
            <div class="page-block__inside">
                <div id="system-message-container">
                </div>


                <!-- download catalog btn -->
                <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
                    <meta itemprop="inLanguage" content="ru-RU">


                    <div class="page-header">
                        <h2 itemprop="headline">{{ heading_title }}</h2>
                        
                        <div itemprop="articleBody">
                              {{ description }}
                           </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>



{{ content_top }}

{{ content_bottom }}



{#}
<div class="content-wrapper">
  <div class="center inner">
    <div class="content">
      <div class="left-column">

        {{ column_left }}

        {{ column_right }}


      </div>


      <div class="workarea {{ class }}" id="content">
        <div class="body_text">

          <div class="breadcrumb-share">
              {% for breadcrumb in breadcrumbs %}

                 <div class="breadcrumb__item"  itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
                    <span class="breadcrumb__arrow"></span>
                    {% if breadcrumb.href %} <a class="breadcrumb__link" href="{{ breadcrumb.href }}" title="{{ breadcrumb.text1 }}" itemprop="url">{% endif %}
                      <span class="breadcrumb__title" itemprop="title">
                        {{ breadcrumb.text }}
                      </span>
                      {% if breadcrumb.href %}</a>{% endif %}
                  </div>
              {% endfor %}
              

            </div>
          </div>

        <h1 id="pagetitle">{{ heading_title }}</h1>
        {{ content_top }}

 
  
        {{ description }}{{ content_bottom }}



        {{ content_bottom }}
      
   
  </div>
  </div>
  </div>    
</div>  
#}

{{ footer }}





{#}



<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>


#}