<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />

<script src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Template Basic Images Start -->
<meta property="og:image" content="/assets/favicon.ico">
<link rel="icon" href="/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico">
<!-- Template Basic Images End -->

<!-- Custom Browsers Color Start -->
<meta name="theme-color" content="#000">
<!-- Custom Browsers Color End -->
<link rel="stylesheet" href="/assets/css/corto.css">
<link rel="stylesheet" href="/assets/css/rokbox.css">
<link rel="stylesheet" href="/assets/css/style.css?t=1">
<link rel="stylesheet" href="/assets/css/menu.css">
<link href="/assets/js/fancybox/jquery.fancybox.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/assets/css/custom.css">



<link href="/catalog/view/javascript/magnific-popup/magnific-popup.css" rel="stylesheet"type="text/css" />

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{# }
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{ #}

<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

</head>


<body>

<div id="container" class="mainpage">
  <div class="page-wrapper">





























{# 


	<div class="CLASS"></div>
	</section>
	<section class="header">
	  <div class="container">
		<div class="row">
		  <div class="col">
			<div class="header__conteiner">
			  <a class="logo" href=""><img src="/img/logo.png" alt=""></a>
			  <a class="logo__mobyle" href=""><img src="/img/logo.png" alt=""></a>
			  <a href="#" class="call__back_mobile"><i class="sl34"></i></a>
			  <ul class="top__menu">
				<li><a class="hvr-underline-from-left {% if current_page == '/models/' %} top__m_active {% endif %}" href="/models/">Подбор по модели</a></li>
				<li><a class="hvr-underline-from-left {% if current_page == '/oplata/' %} top__m_active {% endif %}" href="/oplata/">Доставка и оплата</a></li>
				<li><a class="hvr-underline-from-left {% if current_page == '/garanty/' %} top__m_active {% endif %}" href="/garanty/">Гарантии</a></li>
				<li><a class="hvr-underline-from-left {% if current_page == '/promotions/' %} top__m_active {% endif %}" href="/promotions/">Акции</a></li>
				<li><a class="hvr-underline-from-left {% if current_page == '/contacts/' %} top__m_active {% endif %}" href="/contacts/">Контакты</a></li>
			  </ul>
			  <div class="fone__header">
				<div class="fone__header--top"><span class="fone__namber">+ 7 495 444 20 64 </span><i class="sl1"></i></div>
				<div class="fone__header--bottom">
					<span class="fone__header--bottom-free">Обратный звонок</span>
					<span class="fone__header--bottom-clock">Пн-Сб: 10:00-19:00 </span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	
	  <div class="CLASS"></div>
	</section>
	<section class="menu">
	  <div class="container">
		<div class="row">
		  <div class="col">
			<div class="menu__content">
			  <ul class="menu__content-ul">

				{% for category in categories %}
				<li {% if current_page_link == category.href %}class="li__orange"{% endif %}>
					<a href="{{ category.href }}" >
						{% if current_page_link == category.href %}<i class="sl29"></i>{% else %}{category.icon}{% endif %}
						
						<span>{{ category.name }}</span>
					</a> 

					{% if category.children %}
					<ul class="submenu" >
						{% for child in category.children %}
						<li class="catalog-section-child">
							{% if child.category_id == child_id %}
								<a href="{{ child.href }}" title="{{ child.name }}">{{ child.name }}</a>
							{% else %}
								<a href="{{ child.href }}" title="{{ child.name }}">{{ child.name }}</a>
							{% endif %}
							</li>
					{% endfor %}
						</ul>
					{% endif %}

				</li>





				{% endfor %}

				<!--
				<li><a href="">
				  <i class="sl4"></i>
				  <span>Аксессуары для телефонов</span>
				</a></li>
				<li><a href="">
				  <i class="sl5"></i>
				  <span>Аксессуары для телефонов</span>
				</a></li>
				<li class="li__orange"><a href="">
				  <i class="sl29"></i>
				  <span>Аксессуары для телефонов</span>
				</a></li>
			-->

			  </ul>
			  <div class="menu__mobile__katalog">
				<!-- Navigation -->
				<div class="b-nav">
				  <li><a class="b-link {% if current_page == '' %} b-link--active {% endif %}" href="/">Главная</a></li>
				  <li><a class="b-link {% if current_page == '/contacts/' %} b-link--active {% endif %}" href="/contacts/">Контакты</a></li>
				  <li><a class="b-link {% if current_page == '/oplata/' %} b-link--active {% endif %}" href="/oplata/">Оплата и доставка</a></li>
				  <li><a class="b-link {% if current_page == '/cogarantyntacts/' %} b-link--active {% endif %}" href="/garanty/">Гарантии</a></li>
				</div>
	
				<!-- Burger-Icon -->
				<div class="b-container">
				  <div class="b-menu">
					<div class="b-bun b-bun--top"></div>
					<div class="b-bun b-bun--mid"></div>
					<div class="b-bun b-bun--bottom"></div>
				  </div>
	
				  <!-- Burger-Brand -->
	
				</div>
			  </div>
			  <div class="katalog__mob">
				<span>Каталог</span>
			  </div>
			  
				<div class="menu__socseti" id="cart">
					{{ cart }}
				</div>

			</div>
		  </div>
		</div>
	  </div>
	</section>
   #}
  
  
  

	

{#		
	
<header>
	<div class="center inner">
		<div class="header_1">
			<div class="logo" id="logo">
				{% if logo %}
				{% if home == og_url %}
				<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
				{% else %}
				<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"
						class="img-responsive" /></a>
				{% endif %}
				{% else %}
				<h1><a href="{{ home }}">{{ name }}</a></h1>
				{% endif %}


			</div>
		</div>
		<div class="header_2">
			
			
				{{ search }}
			


		</div>
		<div class="header_3">
			<div class="schedule">
				<p class="time"><i class="fa fa-clock-o"></i><span>Время работы:</span></p>
				<p>ПН-ПТ 09:00 - 18:00 (MSK)<br>СБ 10:00 - 14:00 (MSK)<br>Воскресенье - выходной</p>
				<p>shop@atvdoc.ru</p>
			</div>
		</div>
		<div class="header_4">
			<div class="contacts">

				<div class="telephone">

					<p><span class="icon mts"></span><span>+7 (910)</span> 111-22-33</p>
					<p><span class="icon megafon"></span><span>+7 (920)</span> 444-55-66</p>
					<!--	<p><span class="icon beeline"></span><span>+7 (906)</span> 000-00-00</p>
-->
					<p><span class="icon tele2"></span><span>+7 (953)</span> 292-10-30</p>
				</div>

				<!--'end_frame_cache_geolocation'-->
				<!--
				<a id="callbackAnch" class="btn_buy apuo callback_anch" href="javascript:void(0)">
					<span class="cont"><i class="fa fa-phone"></i><span class="text">Заказать звонок</span></span>
				</a>
				-->
			</div>
		</div>
	</div>
</header>
	


<div class="top_panel">
	<div class="center inner">
		<div class="panel_1">
	
<!-- Мобильное меню (каталог)-->

<!-- СДЕЛАТЬ ПОТОМ вывод только в мобильной версии-->
<ul class="section-vertical">
	<li>
		<a href="javascript:void(0)" class="showsection"><i class="fa fa-bars"></i><span>Каталог</span></a>
		<div class="catalog-section-list" style="display:none;">

				{% for category in categories %}
				<div class="catalog-section">
					<div class="catalog-section-title">
						<a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a>
						<span class="showsectionchild"><i class="fa fa-minus"></i><i class="fa fa-plus"></i><i
								class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i>
						</span>
					</div>
				
					{% if category.children %}
					<div class="catalog-section-childs" style="display:none;">
						{% for child in category.children %}
						<div class="catalog-section-child">
							{% if child.category_id == child_id %}
								<a href="{{ child.href }}" title="{{ child.name }}">
									<span class="child">
										<span class="graph">
											<i class="ef ef-engraver" aria-hidden="true"></i>
										</span>
										<span class="text-cont">
											<span class="text">{{ child.name }}</span>
										</span>
									</span>
									
								</a>
							{% else %}
								<a href="{{ child.href }}" title="{{ child.name }}">
									<span class="child">
										<span class="graph">
											<i class="ef ef-engraver" aria-hidden="true"></i>
										</span>
										<span class="text-cont">
											<span class="text">{{ child.name }}</span>
										</span>
									</span>
									
								</a>
							{% endif %}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
	
				  
				{% endfor %}



		</div>
	</li>
</ul>


					</div>


	</div>
</div>


<!--Панель сверху-->
<div class=" clvt-">
	<div class="foot_panel_all">
		<div id="for-quick-view-footer" class="foot_panel">
			<div class="foot_panel_1">
				<div class="kabinet" id="kabinet">

					{% if not logged %}
						<!--'start_frame_cache_kabinet'-->
						
						<a class="login_anch" href="javascript:void(0)" title="Войти">
							<i class="fa fa-user"></i><span>Войти</span>
						</a>
						<div class="pop-up-bg login_body popup-window-overlay"
							style="display: none; position: absolute; z-index: 1099; opacity: 1"></div>
						<div class="pop-up login" style="display: none; position: absolute; z-index: 1100;">
							<a href="javascript:void(0)" class="login_close popup-window-close-icon"
								style="top: -10px; right: -10px;"><i class="fa fa-times"></i></a>
							<div class="login-form" id="loginForm">
								<div class="fields">
									<form name="form_auth" method="post" target="_top" action="{{ login }}">
									
										<div class="field">
											<input type="text" required name="email" maxlength="50" placeholder="Логин" value=""
												class="input-field">
										</div>
										<div class="field">
											<input type="password" required name="password" maxlength="50" placeholder="Пароль"
												value="" class="input-field">
										</div>
										<div class="field field-button">
											<button type="submit" name="Login" class="btn_buy popdef"
												value="Войти">Войти</button>
										</div>
										<div class="field">
											<a class="btn_buy apuo forgot" href="{{ forgotten }}"
												rel="nofollow">Напомнить пароль</a>
										</div>
										<div class="field" style="margin:0px;">
											<a class="btn_buy apuo reg" href="{{ register }}"
												rel="nofollow">Регистрация</a>
										</div>
									</form>
								</div>
								
								

							</div>
						</div>
						<a class="register" href="{{ register }}" title="Регистрация" rel="nofollow"><i
								class="fa fa-user-plus"></i><span>Регистрация</span>
						</a>
						<!--'end_frame_cache_kabinet'-->
					{% else %}

						<a class="personal" href="{{ account }}" title="Личный кабинет" rel="nofollow"><i class="fa fa-user"></i><span>Личный кабинет</span></a>
						<a class="exit" href="{{ logout }}" title="Выйти"><i class="fa fa-sign-out"></i></a>

					{% endif %}
				</div>

{% if logged %}
			<div class="delay_line">
				<a href="{{ messages }}" id="messages-total" title="Сообщения" rel="nofollow">
					<i class="fa fa-envelope"></i>
					<span class="text"></span>
					<span class="qnt_cont">
						<span class="qnt"> {{ messages_count }} </span>
					</span>
				</a>
			</div>
{% endif %}
 
			<div class="delay_line">
				<a href="{{ wishlist }}" id="wishlist-total" title="Отложенные" rel="nofollow">
					<i class="fa fa-heart"></i>
					<span class="text">Отложенные</span>
					<span class="qnt_cont">
						<span class="qnt">{{ wishlist_count }} </span>
					</span>
				</a>
			</div>



			</div>
			<div class="foot_panel_2">



			<div class="cart_line" id="cart">
				{{ cart }}
			</div>


			</div>
		</div>
	</div>
</div>

#}
<!-- -------------Панель сверху-->








{#
<nav id="top" >
  <div class="container">{{ currency }}
    {{ language }}
	{{ blog_menu }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li> 
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
		<div id="logo">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
            {% endif %} 
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
		</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>

{{ menu }}
#}