{{ header }}

{{ content_top }}

{{ column_left }}


{{ content_bottom }}


{#
<div class="content-wrapper">
  <div class="center inner">
    <div class="content">
      <div class="left-column">

        {{ column_left }}

        {{ column_right }} 


      </div>


      <div class="workarea {{ class }}" id="content">
 

      </div>
    </div>

  </div>
</div>
#}
{{ footer }}